@import "vars";
@import "animation";
@import "block/cart";
@import "block/registration";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    font-family: 'Lato', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr min-content;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

.moreOnFigma {
    display: block;
    margin: -18px auto 5px;
    text-decoration: none;
    color: cornsilk;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.header {
    background-color: #222222;
    padding: 19px 0;
    
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left,
    &__right {
        display: flex;
        align-items: flex-end;
    }

    &__left-logo {
        margin: 0 41px 0 0;
    }

    &__right-item:not(:last-child) {
        margin: 0 33px 0 0;
    }
    &__right-item:last-child {
        position: relative;
        margin-right: 8px;
    }

    &__right-link::after {
        content: url(../img/quantity.svg);
        display: block;
        position: absolute;
        right: -9px;
        top: -9px;
    }
    
}

.basket-block {
    position: absolute;
    right: 0;
    background: white;
    font-size: 14px;
    width: 420px;
    border: 1px solid gray;
    padding: 10px;
    z-index: 10;
    display: none;
}

.quantityTxt {
    position: absolute;
    right: -4px;
    top: -8px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    z-index: 10;
    background-color: $color-second;
    display: flex;
    border-radius: 50%;
    min-width: 18px;
    min-height: 18px;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.nameProduct,
.quantityProduct,
.priceProduct,
.resultProduct,
.summProduct {
    display: inline-block;
}

.nameProduct {
    width: 145px;
}

.quantityProduct,
.priceProduct {
    width: 90px;
}

.resultProduct {
    width: 60px;
}

.summProduct {
    width: 333px;
}

.first-line,
.line-product {
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid gray
}

.header-products {
    background: #F8F3F4;
    padding: 60px 0;
    
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wrap h1 {
        font-size: 24px;    
        color: $color-second;
        font-weight: normal;
        max-width: 500px;
    }

}

.bread-crumbs {
    list-style-type: none;
    display: flex;
    
    &__li:not(:last-child) {
        padding: 0 0.3em 0 0;
    }

    &__link {
        text-decoration: none;
        font-weight: 300;
        font-size: 14px;
        color: #636363;
    }

    &__li:last-child .bread-crumbs__link {
        font-weight: bold;
        color: $color-second;
    }

    &__link:hover {
        color: $color-second;
    }

}

.intro {
    background-color: #F1E4E6;
    margin: 0 0 65px 0;
    
    &__wrap {
        background-image: url('../img/intro.png');
        background-size: 33%;
        // height: calc(100vh - 76px);
        background-repeat: no-repeat;
        background-position: left bottom;
        display: flex;
        // justify-content: flex-end;
        align-items: flex-start;
    }

    &__wrap-height {
        padding: 67% 0 0 0;
    }

    &__text {
        border-left: 12px solid $color-second;
        // position: relative;
        // right: 8.2%;
        // top: -6.8%;
        margin: 25.4% 0 0 55.65%;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__text-main {
        padding: 0 0 0 16px;
        font-size: 32px;
        line-height: 38px;
        max-width: 400px;
    }

    &__text-brend {
        font-size: 48px;
        line-height: 58px;
        display: block;
    }

    &__text-fashion {
        color: $color-second;
    }

}

.product-view {
    min-height: 777px;
    background: #F7F7F7;
    border: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__box {
        margin: -35px 0 0 0;
        justify-content: center;
        display: flex;
    }

    &__box img {
        width: 100%;
        height: 100%;
    }

}

.product-description {

    &__wrap {
        text-align: center;
        border: 1px solid #EAEAEA;
        margin: -65px auto 130px;
        background: #FFFFFF;
        position: relative;
        z-index: 1;
    }
    
    &__header {
        font-weight: 300;
        font-size: 14px;
        color: $color-second;
        margin: 64px 0 0 0;
    }
    
    &__product {
        font-weight: 300;
        font-size: 18px;
        color: #4D4D4D;
    }
    
    &__text {
        font-weight: 300;
        font-size: 14px;
        color: #5E5E5E;
        width: 50%;
        margin: 48px auto 32px auto;
    }
    
    &__price {
        font-weight: 300;
        font-size: 24px;
        color: #EF5B70;
    }
    
    &__line-mini {
        height: 0;
        border: none;
        border-top: 3px solid #EF5B70;
        width: 63px;
        margin: 12px auto;
    }
    
    &__line-large {
        height: 0;
        border: none;
        border-top: 1px solid #EAEAEA;
        max-width: 640px;
        margin: 65px auto;
    }
    
    &__choose {
        display: flex;
        list-style-type: none;
        justify-content: center;
    }

    &__choose-li {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
        color: #6F6E6E;
    }

    &__choose-li:not(:last-child) {
        margin: 0 23px 0 0;
    }

}

.product-choose {
    display: flex;
    list-style-type: none;
    
    &__div {
        font-size: 14px;
        color: #6F6E6E;
        position: relative;
    }

    &__align {
        display: flex;
        align-items: center;
    }
    
    &__drop {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -9px;
        min-width: 79px;
        z-index: 1;
        margin: 5px 0 0 0;
        padding: 10px 10px 12px 10px;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        cursor: default;
    }
    
    &__chbx {
        margin: 0 10px 0 0;
    }
    
    &__drop-div:not(:last-child) {
        margin: 0 0 5px 0;
    }
    
    &__drop-div {
        display: flex;
        align-items: center;
    }
    
    &__drop-div input {
        width: 12px;
        height: 12px;
    }
    
    &__div:not(:first-child) {
        margin: 0 0 0 23px;
    }
    
}

#hidden__size,
#hidden__trending,
#hidden__price {
    display: none;
}

.product-choose__img,
.product-description__choose-img {
    margin: 0 0 0 9px;
}

.product__description-choose-div:last-child::after {
    padding: 0 0 0 9px;
}

.assment {
    margin: 0 0 96px 0;
    
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 31.6%;
        padding: 9.3% 0;
        text-decoration: none;
        background-size: 100% 100%;
    }

    &__item-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 16px;
        color: #FFFFFF;
        font-weight: normal;
    }

    &__item-text-last {
        max-width: 1140px;
    }

    &__item:not(:last-child) {
        margin: 0 0 2.6% 0;
    }

    &__item:last-child {
        width: 100%;
        padding: 5.8% 0;
    }

    &__item-text span {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: $color-second;
    }

    &__women {
        background-image: url(../img/assment-filter.png), url(../img/women.jpg);
        background-repeat: no-repeat;
    }

    &__men {
        background-image: url(../img/assment-filter.png), url(../img/men.jpg);
        background-repeat: no-repeat;
    }

    &__kids {
        background-image: url(../img/assment-filter.png), url(../img/kids.jpg);
        background-repeat: no-repeat;
    }

    &__acces {
        background-image: url(../img/assment-filter.png), url(../img/accesories.jpg);
        background-repeat: no-repeat;
    }

}

.products {

    &__filter {
        margin: 51px 0 64px 0;
        display: flex;
        justify-content: space-between;
    }
    
    &__filter-left {
        position: relative;
    }

    &__filter-left-drop {
        margin: 0 0 0 16px;
    }
    
    &__filter-left-header {
        padding: 0 11px 0 0;
        font-weight: 600;
        font-size: 14px;
    }
    
    &__filter-left-drop[open] {
        margin: 0;
        color: #EF5B70;
    }
    
    &__filter-left-svg {
        fill: black;
    }
    &__filter-left-drop[open] .products__filter-left-svg {
        fill: #EF5B70;
    }
        
    &__filter-left-drop[open] {
        position: absolute;
        z-index: 1;
        top: -13px;
        width: 360px;
        padding: 13px 16px 0 16px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    
    &__filter-left-det {
        padding: 0 0 0 1px;
    }
    
    &__filter-left-drop-div {
        display: block;
        font-size: 14px;
    }

    &__filter-drop-summary {
        display: block;
        border-left: 5px solid #EF5B70;
        border-bottom: 1px solid #EBEBEB;
        padding: 8px 0 11px 11px;
        outline: none;
        margin: 18px 0 18px 0;
        font-size: 14px;
        color: #EF5B70;
    }

    &__filter-drop-summary:hover {
        cursor: pointer;
    }

    &__filter-drop-span {
        display: block;
        margin: 0 0 11px 17px;
        font-weight: normal;
        font-size: 14px;
        color: #6F6E6E;
        text-decoration: none;
    }

    &__filter-drop-span:first-child {
        margin-top: 24px;
    }

    &__filter-drop-span:last-child {
        margin-bottom: 24px;
    }

    &__header {
        font-weight: normal;
        font-size: 30px;
        color: #222222;
        text-align: center;
        margin: 0 0 6px 0;
    }
    
    &__text {
        font-size: 14px;
        color: #9F9F9F;
        text-align: center;
        margin: 0 0 48px 0;
    }
    
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 18px 0;
    }
    
    &__items-hidden {
        display: none;
    }
    
    &__items-product {
        margin: 0 0 98px 0;
    }
    
    &__items-card {
        width: 360px;
        background: #F8F8F8;
        margin: 0 0 2.1% 0;
        display: flex;
        flex-direction: column;
    }
    
    &__items-block {
        position: relative;
    }
    
    &__items-img {
        display: flex;
    }
    
    &__items-img-hover {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(58, 56, 56, 0.86);
        width: 360px;
        height: 420px;
        display: none;
    }
    
    &__items-card:hover .products__items-img-hover {
        display: block;
    }
    
    &__items-link {
        text-decoration: none;
    }
    
    &__items-info {
        padding: 25px 18px 20px 18px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &__items-info-header {
        font-weight: normal;
        font-size: 13px;
        color: #000000;
    }
    
    &__items-info-text {
        font-size: 14px;
        color: #5D5D5D;
        margin: 12px 0 18px 0;
    }
    
    &__items-info-price {
        font-weight: normal;
        line-height: 19px;
        color: $color-second;
    }
    
    &__all {
        margin: 18px auto 95px;
        display: flex;
        justify-content: center;
    }
    
    &__all-link {
        display: flex;
        color: #F26376;
        border: 1px solid #FF6A6A;
        text-decoration: none;
        padding: 14px 38px;
    }
    
    &__all-link:hover {
        background: $color-second;
        color: #FFFFFF;
        transition: 0.4s;
    }
    
    &__items-card-addcart {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        text-decoration: none;
    }

    &__items-card-addcart::before {
        content: url(../img/add-to-cart-cart.svg);
        display: block;
        padding: 4px 12px 0;
    }

    &__items-card-addcart:hover {
        background-color: $color-second;
    }

    &__items-card-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 420px;
    }

}

.products__filter-left-drop-div:hover,
.product-choose__div {
    cursor: pointer;
}

.products__filter-left,
.products__filter-right,
.products__form {
    width: 360px;
}

::marker {
    display: none;
}

.product__card {
    margin: 50px auto 65px;
    display: inline-flex;
    justify-content: center;
    border: 1px solid #FF6A6A;
}

.product-description__card-add-product {
    margin: 50px auto 65px;
    display: inline-flex;
    justify-content: center;
    border: 1px solid #FF6A6A;
}

.product-description__card-add-product::before {
    content: url(../img/add-to-cart.svg);
    display: block;
    padding: 14px 23px 0;
}

.product-description__items-card-link-product {
    text-decoration: none;
}

.product-description__items-card-link-product:hover .product-description__card-add-product {
    background-color: #EAEAEA;
}

.product-description__link {
    font-size: 16px;
    color: #F26376;
    padding: 14px 56px 14px 0;
}

.products__items-card-cart {
    font-size: 14px;
    color: #FFFFFF;
    padding: 13px 16px 13px 0;
}

.products__cart-img {
    position: absolute;
    top: 13px;
    left: 23px;
}

.catalog-list {
    display: flex;
    justify-content: center;
}

.catalog-list__items {
    margin: 0 0 96px;
    border: 1px solid #EBEBEB;
    padding: 12px 0;
    display: flex;
}

.catalog-list__items-img {
    margin: 0 15px 0;
}

.catalog-list__items-n {
    margin: 0 22px 0 0;
}

.catalog-list__items-n,
.catalog-list__items-ne {
    color: #C4C4C4;
    text-decoration: none;
}

.check-n {
    color: #EF5B70;
}

.services {
    background-color: #222224;
}

.services__wrap {
    padding: 104px 0;
    display: flex;
    justify-content: space-around;
}

.services__item {
    flex-basis: 360px;
    text-align: center;
}

.services__item-header {
    font-weight: normal;
    font-size: 19.96px;
    color: #FBFBFB;
    margin: 25px 0 16px;
}

.services__item-text {
    font-size: 14px;
    color: #FBFBFB;
    padding: 0 20px;
}

.footer__subscribe {
    background-image: url(../img/bg-footer__filter.png), url(../img/bg-footer__subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 97px 0 156px;
}

.footer__subscribe-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__subscribe-left {
    text-align: center;
}

.footer__subscribe-left-text {
    max-width: 350px;
    font-size: 20px;
    color: #222224;
    margin-top: 30px;
}

.footer__subscribe-right-form {
    margin: 0 0 32px 0;
    max-width: 356px;
}

.subscribe {
    text-align: center;
    margin-right: 85px;
}

.subscribe__text-header {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    color: #222224;
    display: block;
}

.subscribe__text-p {
    font-size: 18px;
    line-height: 167.2%;
    color: #222224;
}

.subscribe__button {
    display: flex;
}

.subscribe__input {
    width: 256px;
    height: 49px;
    background: #E1E1E1;
    border: none;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 0 22px 0 22px;
}

.subscribe__input:focus {
    padding: 0 22px 0 21px;
}

.subscribe__submit,
.subscribe__input:focus {
    outline: none;
    border: 1px solid $color-second;
    border-right: none;
}

.subscribe__input::placeholder {
    font-size: 14px;
    color: #222224;
    opacity: 0.67;
}

.subscribe__submit {
    width: 100px;
    height: 49px;
    border: none;
    background: $color-second;
    font-size: 14px;
    color: #FFFFFF;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.subscribe__submit:hover {
    cursor: pointer;
    opacity: 0.85;
}

.footer__copyright {
    background: #222224;
}

.footer__copyright-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 10px;
}

.footer__copyright-copyright {
    line-height: 19px;
    color: #FBFBFB;
}

.footer__copyright-social {
    display: flex;
}

.footer__copyright-social-link {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-decoration: none;
    color: #000000;
}

.footer__copyright-social-link:hover {
    background: $color-second;
    color: #FFFFFF;
}

.footer__copyright-social-link:not(:last-child) {
    margin-right: 8px;
}


@media (max-width: 1100px) {
    .products__filter {
        margin: 24px auto 40px;
        width: 736px;
    }
    .product-choose {
        justify-content: flex-end;
    }
    .products__filter-right {
        display: none;
    }
    .products__items {
        justify-content: center;
    }
    .products__items-card:nth-child(2n) {
        margin-left: 16px;
    }
    .catalog-list__items {
        margin: 0 0 63px;
    }
    .products__items-card-hidden {
        display: none;
    }
}

@media (max-width: 930px) {
    .intro__text {
        margin: 25.4% 0 0 45%;
    }
}

@media (max-width: 800px) {
    
    .footer__subscribe-wrap {
        flex-direction: column;
        align-items: center;
    }
    .subscribe {
        margin: 0;
    }
    .footer__subscribe {
        padding: 54px 0 140px;
    }
    .footer__subscribe-right {
        margin-top: 48px;
    }
}

@media (max-width: 768px) {
    .header__wrap {
        padding: 0 16px;
    }
    .services__wrap {
        flex-direction: column;
        padding: 0;
    }
    .services__item {
        flex-basis: 0;
        margin: 48px 0 0 0;
    }
    .services__item:last-child {
        margin-bottom: 64px;
    }
    .services__item-text {
        width: 360px;
        margin: 0 auto;
    }
    .footer__copyright-social-link:last-child {
        margin: 0 7px 0 0;
    }
    .footer__copyright-copyright {
        margin: 0 0 0 7px;
    }
    .intro {
        margin: 0 0 20px 0;
    }
    .intro__text-main {
        font-size: 24px;
        line-height: 29px;
    }
    .intro__text-brend {
        font-size: 44px;
        line-height: 53px;
    }
    .intro__text {
        margin: 17% 0 30px 55.65%;
    }
    .intro__wrap {
        background-position: 14% bottom;
        background-size: 24%
    }
    .intro__wrap-height {
        padding: 49% 0 0 0;
    }
    .assment {
        margin: 0 0 155px 0;
    }
    .products__all {
        margin: 3px auto 65px;
    }
    .footer__subscribe {
        background-position: 26%;
    }
    .product-view {
        height: 624px;
    }
    .product-view__box img {
        width: 78%;
        height: 78%;
    }
    .product-description__wrap {
        margin: -35px auto 130px;
    }
    .product-description__hr2 {
        width: 83.5%;
    }
}

@media (max-width: 756px) {
    .products__filter {
        width: 360px;
    }
    .products__filter-left-header {
        display: none;
    }
    .products__items{
        flex-direction: column;
        align-items: center;
    }
    .products__items-card:nth-child(2n) {
        margin-left: 0;
    }
    .products__filter-left, .products__filter-right, .products__form {
        width: auto;
    }
    .product-choose__div {
        font-size: 12px;
        line-height: 14px;
    }
    
    .products__filter {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        height: 25px;
    }
    .products__filter-left-svg {
        width: 37px;
        height: 25px;
    }
    .products__filter-left-drop[open] {
        top: -27px;
    }
    .intro__text {
        margin: 17% 0 30px 50%;
    }
}

@media (max-width: 635px) {
    .intro__text {
        margin: 17% 0 30px 43%;
    }
}

@media (max-width: 600px) {
    .registration {
        flex-direction: column;
        align-items: center;
    }
    .registration__text {
        max-width: 360px;
        margin-left: 0;
    }
    .registration__text h2 {
        margin-top: 40px;
    }
}

@media (max-width: 570px) {
    .intro {
        margin: 0 0 64px 0;
    }
    .intro__text-brend {
        font-size: 38px;
        line-height: 46px;
    }
    .intro__wrap {
        min-height: 363px;
        justify-content: center;
        align-items: center;
        background: none;
    }
    .intro__text {
        margin: 30px 0;
    }
    .intro__text-main {
        font-size: 20px;
        line-height: 24px;
    }
    .assment {
        margin: 0 0 64px 0;
    }
    .assment__wrap {
        flex-direction: column;
        align-items: center;
    }
    .assment__item:not(:last-child) {
        width: 343px;
        height: 248px;
        margin: 0 0 32px 0;
    }
    .assment__item:last-child {
        width: 343px;
        height: 111px;
    }
    .products__text {
        margin-bottom: 64px;
    }
    .products__items-card {
        margin-bottom: 16px;
    }
    .products__all {
        margin: 24px auto 96px;
    }
    .services__item:last-child {
        margin-bottom: 81px;
    }
    .cart__block {
        margin: 39px auto 96px;
    }
    .cart__item {
        filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
    }
    .cart__item:first-child {
        margin: 0 0 32px 0;
    }
    .cart__item-img img {
        width: 144px;
        height: 188px;
    }
    .cart__item-text h3 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 26px;
    }
    .cart__item-text p {
        font-size: 14px;
        line-height: 17px;
    }
    .cart__item-text img {
        width: 10px;
        height: 10px;
    }
    .cart__flex, .cart__block-left {
        max-width: 360px;
    }
    .cart__operation {
        justify-content: space-between;
        margin: 30px auto 48px;
    }
    .cart__operation-link {
        text-transform: lowercase;
        font-size: 12px;
        line-height: 14px;
    }
    .cart__operation-link::first-letter {
        text-transform: uppercase;
    }
    .cart__operation-link {
        padding: 9px;
        width: 174px;
        text-align: center;
    }
    .cart__operation-link:last-child {
        margin-left: 0;
    }
    .cart__shipping strong {
        margin-top: 0;
    }
    .cart__checkout {
        margin-top: 48px;
    }
    .footer__subscribe {
        padding: 64px 0 110px;
    }
    .footer__subscribe-right {
        margin-top: 59px;
    }
}

@media (max-width: 450px) {
    .header-products {
        padding: 24px 0 46px;
    }
    .header-products__wrap {
        flex-direction: column;
    }
    .header-products__wrap h1 {
        margin-bottom: 32px;
    }
    .header-products__wrap h1 {
        margin: 36px 0 14px;
    }
    .product-description__wrap {
        margin: -35px auto 64px;
    }
    .products__items-product {
        margin-bottom: 46px;
    }
    .footer__copyright-wrap {
        flex-direction: column-reverse;
    }
    .footer__copyright-wrap {
        padding: 43px 10px 24px;
    }
    .footer__copyright-copyright {
        padding-top: 40px;
    }
    .header__right-item:not(:first-child) {
        display: none;
    }
    .header__right-item:first-child {
        margin: 0;
    }
    .hidden__price {
        left: auto;
        right: 0;
    }
    .products__items-card {
        width: 350px;
        overflow: hidden;
    }
    .products__filter {
        width: 350px;
    }
    .product-description__line-large {
        max-width: 175px;
    }
    .product-description__choose-li {
        font-size: 10px;
        line-height: 12px;
    }
}

// бургер меню
.header__nav {
    position: absolute;
    width: 232px;
    background: #FFFFFF;
    top: 79px;
    right: 0;
    height: calc(100vh - 76px);
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 34px;
    z-index: 5;
    overflow: auto;
}
.nav__wrap {
    position: relative;
}
#burger:checked ~ .header__nav {
    display: block;
}

#burger:not(checked)~.header__nav {
    display: none;
}
#burger {
    display: none;
}
.nav__close {
    position: absolute;
    top: -21px;
    right: -18px;
}
.nav__close:hover,
.header__menu:hover {
    cursor: pointer;
}
.nav__item {
    list-style-type: none;
    margin-left: 21px;
}
.nav__item:not(:last-child) {
    margin-bottom: 11px;
}
.nav__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.nav__title {
    font-size: 14px;
    margin-bottom: 24px;
}
.nav__heading {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $color-second;
    margin: 20px 0 12px 0;
}