@import "vars";
@import "animation";
@import "block/cart";
@import "block/registration";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: #222222;
    padding: 19px 0;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
}

.header__left,
.header__right {
    display: flex;
    align-items: flex-end;
}

.header__left-logo {
    margin: 0 41px 0 0;
}

.header__right-item:not(:last-child) {
    margin: 0 33px 0 0;
}
.header__right-item:last-child {
    position: relative;
}

.quantity {
    position: absolute;
    right: -2px;
    top: -6px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    z-index: 1;
}

.header__right-link::after {
    content: url(../img/quantity.svg);
    display: block;
    position: absolute;
    right: -9px;
    top: -9px;
}

.header-products {
    background: #F8F3F4;
    padding: 60px 0;
}

.header-products__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-products__wrap h1 {
    font-size: 24px;    
    color: $color-second;
    font-weight: normal;
}

.bread-crumbs {
    list-style-type: none;
    display: flex;
}

.bread-crumbs__li:not(:last-child) {
    padding: 0 0.3em 0 0;
}

.bread-crumbs__link {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    color: #636363;
}

.bread-crumbs__li:last-child .bread-crumbs__link {
    font-weight: bold;
    color: $color-second;
}

.bread-crumbs__link:hover {
    color: $color-second;
}

.intro {
    background-color: #F1E4E6;
    margin: 0 0 65px 0;
}

.intro__wrap {
    background-image: url('../img/intro.png');
    background-size: 33%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.intro__wrap-height {
    padding: 67% 0 0 0;
}

.intro__text {
    border-left: 12px solid $color-second;
    position: relative;
    right: 8.2%;
    top: -6.8%;
}

.intro__text-h1 {
    padding: 0 0 0 16px;
    font-size: 32px;
    line-height: 38px;
}

.intro__text-brend {
    font-size: 48px;
    line-height: 58px;
    display: block;
}

.intro__text-fashion {
    color: $color-second;
}

.product-view {
    height: 777px;
    background: #F7F7F7;
    border: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-view__box {
    margin: -35px 0 0 0;
    justify-content: center;
    display: flex;
}

.product-view__box img {
    width: 100%;
    height: 100%;
}

.product-description__wrap {
    text-align: center;
    border: 1px solid #EAEAEA;
    margin: -65px auto 130px;
    background: #FFFFFF;
    position: relative;
    z-index: 1;
}

.product-description__h2 {
    font-weight: 300;
    font-size: 14px;
    color: $color-second;
    margin: 64px 0 0 0;
}

.product-description__h3 {
    font-weight: 300;
    font-size: 18px;
    color: #4D4D4D;
}

.product-description__text {
    font-weight: 300;
    font-size: 14px;
    color: #5E5E5E;
    width: 50%;
    margin: 48px auto 32px auto;
}

.product-description__price {
    font-weight: 300;
    font-size: 24px;
    color: #EF5B70;
}

.product-description__hr1 {
    height: 0;
	border: none;
	border-top: 3px solid #EF5B70;
    width: 63px;
    margin: 12px auto;
}

.product-description__hr2 {
    height: 0;
	border: none;
	border-top: 1px solid #EAEAEA;
    width: 640px;
    margin: 65px auto;
}

.product-choose {
    display: flex;
    list-style-type: none;
}

.product-description__choose {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.product-description__choose-li {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: #6F6E6E;
}

.product-description__choose-li:not(:last-child) {
    margin: 0 23px 0 0;
}

.product-choose__div {
    font-size: 14px;
    color: #6F6E6E;
    position: relative;
}

.product-choose__drop {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -9px;
    width: 79px;
    z-index: 1;
    margin: 5px 0 0 0;
    padding: 10px 0 12px 10px;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    cursor: default;
}

.product-choose__chbx {
    margin: 0 10px 0 0;
}

.product-choose__drop-div:not(:last-child) {
    margin: 0 0 5px 0;
}

.product-choose__drop-div {
    display: flex;
    align-items: center;
}

.product-choose__drop-div input {
    width: 12px;
    height: 12px;
}

.product-choose__div:not(:first-child) {
    margin: 0 0 0 23px;
}

.product-choose__img,
.product-description__choose-img {
    margin: 0 0 0 9px;
}

.product__description-choose-div:last-child::after {
    padding: 0 0 0 9px;
}

.assment {
    margin: 0 0 96px 0;
}

.assment__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.assment__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31.6%;
    padding: 9.3% 0;
    text-decoration: none;
    background-size: 100% 100%;
}

.assment__item-h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: normal;
    // background: rgba(33, 22, 22, 0.7);
    // width: inherit;
    // height: inherit;
}

.assment__item-h2-last {
    max-width: 1140px;
}

.assment__item:not(:last-child) {
    margin: 0 0 2.6% 0;
}

.assment__item:last-child {
    width: 100%;
    padding: 5.8% 0;
}

.assment__item-h2 span {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: $color-second;
}

.assment__women {
    background-image: url(../img/assment-filter.png), url(../img/women.jpg);
    background-repeat: no-repeat;
}

.assment__men {
    background-image: url(../img/assment-filter.png), url(../img/men.jpg);
    background-repeat: no-repeat;
}

.assment__kids {
    background-image: url(../img/assment-filter.png), url(../img/kids.jpg);
    background-repeat: no-repeat;
}

.assment__acces {
    background-image: url(../img/assment-filter.png), url(../img/accesories.jpg);
    background-repeat: no-repeat;
}

.products__filter {
    margin: 51px 0 64px 0;
    display: flex;
    justify-content: space-between;
}

.products__filter-left {
    position: relative;
}

.products__filter-left,
.products__filter-right,
.products__form {
    width: 360px;
}

.products__filter-left-drop {
    margin: 0 0 0 16px;
}

.products__filter-left-h {
    padding: 0 11px 0 0;
    font-weight: 600;
    font-size: 14px;
}

.products__filter-left-drop[open] {
    margin: 0;
    color: #EF5B70;
}

.products__filter-left-svg {
    fill: black;
}

.products__filter-left-drop[open] .products__filter-left-svg {
    fill: #EF5B70;
}

.products__filter-left-drop-div:hover,
.product-choose__div {
    cursor: pointer;
}

.products__filter-left-drop[open] {
    position: absolute;
    z-index: 1;
    top: -13px;
    width: 360px;
    padding: 13px 16px 0 16px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.products__filter-left-det {
    padding: 0 0 0 1px;
}

::marker {
    display: none;
}

.products__filter-left-drop-div {
    display: block;
    font-size: 14px;
}

.products__filter-drop-summary {
    display: block;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    padding: 8px 0 11px 11px;
    outline: none;
    margin: 18px 0 18px 0;
    font-size: 14px;
    color: #EF5B70;
}

.products__filter-drop-summary:hover {
    cursor: pointer;
}

.products__filter-drop-span {
    display: block;
    margin: 0 0 11px 17px;
    font-weight: normal;
    font-size: 14px;
    color: #6F6E6E;
    text-decoration: none;
}

.products__filter-drop-span:first-child {
    margin-top: 24px;
}

.products__filter-drop-span:last-child {
    margin-bottom: 24px;
}

.products__header {
    font-weight: normal;
    font-size: 30px;
    color: #222222;
    text-align: center;
    margin: 0 0 6px 0;
}

.products__text {
    font-size: 14px;
    color: #9F9F9F;
    text-align: center;
    margin: 0 0 48px 0;
}

.products__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 18px 0;
}

.products__items-h2 {
    display: none;
}

.products__items-product {
    margin: 0 0 98px 0;
}

.products__items-card {
    width: 360px;
    background: #F8F8F8;
    margin: 0 0 2.1% 0;
    display: flex;
    flex-direction: column;
}

.products__items-block {
    position: relative;
}

.products__items-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(58, 56, 56, 0.86);
    width: 360px;
    height: 420px;
    display: none;
}

.products__items-block:hover .products__items-img-hover {
    display: block;
}

.products__items-link {
    text-decoration: none;
}

.products__items-info {
    padding: 25px 18px 20px 18px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products__items-info-h3 {
    font-weight: normal;
    font-size: 13px;
    color: #000000;
}

.products__items-info-text {
    font-size: 14px;
    color: #5D5D5D;
    margin: 12px 0 18px 0;
}

.products__items-info-price {
    font-weight: normal;
    line-height: 19px;
    color: $color-second;
}

.products__all {
    margin: 18px auto 95px;
    display: flex;
    justify-content: center;
}

.products__all-link {
    display: flex;
    color: #F26376;
    border: 1px solid #FF6A6A;
    text-decoration: none;
    padding: 14px 38px;
}

.products__all-link:hover {
    background: $color-second;
    color: #FFFFFF;
}

.product__card {
    margin: 50px auto 65px;
    display: inline-flex;
    justify-content: center;
    border: 1px solid #FF6A6A;
}

.product-description__card-add-product {
    margin: 50px auto 65px;
    display: inline-flex;
    justify-content: center;
    border: 1px solid #FF6A6A;
}

.product-description__card-add-product::before {
    content: url(../img/add-to-cart.svg);
    display: block;
    padding: 14px 23px 0;
}

.products__items-card-addcart {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    text-decoration: none;
}

.products__items-card-addcart::before {
    content: url(../img/add-to-cart-cart.svg);
    display: block;
    padding: 4px 12px 0;
}

.products__items-card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 420px;
}

.product-description__items-card-link-product {
    text-decoration: none;
}

.product-description__link {
    font-size: 16px;
    color: #F26376;
    padding: 14px 56px 14px 0;
}

.products__items-card-cart {
    font-size: 14px;
    color: #FFFFFF;
    padding: 13px 16px 13px 0;
}

.products__cart-img {
    position: absolute;
    top: 13px;
    left: 23px;
}

.catalog-list {
    display: flex;
    justify-content: center;
}

.catalog-list__items {
    margin: 0 0 96px;
    border: 1px solid #EBEBEB;
    padding: 12px 0;
    display: flex;
}

.catalog-list__items-img {
    margin: 0 15px 0;
}

.catalog-list__items-n {
    margin: 0 22px 0 0;
}

.catalog-list__items-n,
.catalog-list__items-ne {
    color: #C4C4C4;
    text-decoration: none;
}

.check-n {
    color: #EF5B70;
}

.services {
    background-color: #222224;
}

.services__wrap {
    padding: 104px 0;
    display: flex;
    justify-content: space-around;
}

.services__item {
    flex-basis: 360px;
    text-align: center;
}

.services__item-h4 {
    font-weight: normal;
    font-size: 19.96px;
    color: #FBFBFB;
    margin: 25px 0 16px;
}

.services__item-text {
    font-size: 14px;
    color: #FBFBFB;
    padding: 0 20px;
}

.footer__subscribe {
    background-image: url(../img/bg-footer__filter.png), url(../img/bg-footer__subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 97px 0 156px;
}

.footer__subscribe-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__subscribe-left {
    text-align: center;
}

.footer__subscribe-left-text {
    width: 350px;
    font-size: 20px;
    color: #222224;
    margin-top: 30px;
}

.footer__subscribe-right-form {
    margin: 0 0 32px 0;
}

.subscribe {
    text-align: center;
    margin-right: 85px;
}

.subscribe__text-h {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    color: #222224;
    display: block;
}

.subscribe__text-p {
    font-size: 18px;
    line-height: 167.2%;
    color: #222224;
}

.subscribe__button {
    display: flex;
}

.subscribe__input {
    width: 256px;
    height: 49px;
    background: #E1E1E1;
    border: none;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 0 0 0 22px;
}

.subscribe__input:focus {
    padding: 0 0 0 21px;
}

.subscribe__submit,
.subscribe__input:focus {
    outline: none;
    border: 1px solid $color-second;
    border-right: none;
}

.subscribe__input::placeholder {
    font-size: 14px;
    color: #222224;
    opacity: 0.67;
}

.subscribe__submit {
    width: 100px;
    height: 49px;
    border: none;
    background: $color-second;
    font-size: 14px;
    color: #FFFFFF;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.subscribe__submit:hover {
    cursor: pointer;
}

.footer__copyright {
    background: #222224;
}

.footer__copyright-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 10px;
}

.footer__copyright-copyright {
    line-height: 19px;
    color: #FBFBFB;
}

.footer__copyright-social {
    display: flex;
}

.footer__copyright-social-link {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-decoration: none;
    color: #000000;
}

.footer__copyright-social-link:hover {
    background: $color-second;
    color: #FFFFFF;
}

.footer__copyright-social-link:not(:last-child) {
    margin-right: 8px;
}


@media (max-width: 1100px) {
    .products__filter {
        margin: 24px auto 40px;
        width: 736px;
    }
    .product-choose {
        justify-content: flex-end;
    }
    .products__filter-right {
        display: none;
    }
    .products__items {
        justify-content: center;
    }
    .products__items-card:nth-child(2n) {
        margin-left: 16px;
    }
    .catalog-list__items {
        margin: 0 0 63px;
    }
    .products__items-card-hidden {
        display: none;
    }
}

@media (max-width: 800px) {
    
    .footer__subscribe-wrap {
        flex-direction: column;
        align-items: center;
    }
    .subscribe {
        margin: 0;
    }
    .footer__subscribe {
        padding: 54px 0 140px;
    }
    .footer__subscribe-right {
        margin-top: 48px;
    }
}

@media (max-width: 768px) {
    .services__wrap {
        flex-direction: column;
        padding: 0;
    }
    .services__item {
        flex-basis: 0;
        margin: 48px 0 0 0;
    }
    .services__item:last-child {
        margin-bottom: 64px;
    }
    .services__item-text {
        width: 360px;
        margin: 0 auto;
    }
    .footer__copyright-social-link:last-child {
        margin: 0 7px 0 0;
    }
    .footer__copyright-copyright {
        margin: 0 0 0 7px;
    }
    .intro {
        margin: 0 0 20px 0;
    }
    .intro__text-h1 {
        font-size: 24px;
        line-height: 29px;
    }
    .intro__text-brend {
        font-size: 44px;
        line-height: 53px;
    }
    .intro__text {
        right: 3%;
        top: -6.8%;
    }
    .intro__wrap {
        background-position: 80px bottom;
        background-size: 24%;
    }
    .intro__wrap-height {
        padding: 49% 0 0 0;
    }
    .assment {
        margin: 0 0 155px 0;
    }
    .products__all {
        margin: 3px auto 65px;
    }
    .footer__subscribe {
        background-position: 26%;
    }
    .product-view {
        height: 624px;
    }
    .product-view__box img {
        width: 78%;
        height: 78%;
    }
    .product-description__wrap {
        margin: -35px auto 130px;
    }
    .product-description__hr2 {
        width: 83.5%;
    }
}

@media (max-width: 756px) {
    .products__filter {
        width: 360px;
    }
    .products__filter-left-h {
        display: none;
    }
    .products__items{
        flex-direction: column;
        align-items: center;
    }
    .products__items-card:nth-child(2n) {
        margin-left: 0;
    }
}